<html>

    <head>
        <title>GuitarBlog - Bloguitarra</title>
    </head>

<body>

    <div>
        <h1><a href="/">Ir a Bloguitarra</a></h1>
    </div>

    <div>
        <p>published: 14.03.2020, 12:14</p>
        <h2><a href="">El primer post macumbero</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>published: 14.02.2020, 12:14</p>
        <h3><a href="">El segundo post macumbeado</a></h3>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>

    <p>Holassssamigo!</p>
        <p>Ahora tiene contenido!</p>
</body>
</html>